{# Extend the Default Layout #}
{% extends "layouts/default.njk" %}

{# Import components #}
{% from "components/example.njk" import example1, example2 %}

{# Set Page Title #}
{% set title = 'My first page!' %}

{# Add to head of page #}
{% block head %}
{% endblock %}

{# Actual Page Content #}
{% block body %}

  {{ example1() }}
  {{ example2() }}
  <p class="{{ textStyles.h1 }}">{{ content.headline }}</p>

{% endblock %}
