{% extends "layouts/components.njk" %}

{% macro example1(text='Text') %}
  <div class="bg-black text-white px-24 py-16" data-hook="example" data-text="{{text}}">
    <div class="text-24" data-hook="example.textBlock"></div>
    <button type="button" data-hook="example.button">
      Click
    </button>
  </div>
{% endmacro %}

{% macro example2(text='Text') %}
  <div class="bg-white text-black px-24 py-16">
    {{ text }}
  </div>
{% endmacro %}

{% block body %}
  {{ example1() }}
  {{ example2() }}
{% endblock %}
