<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.js"></script>
    <link rel="stylesheet" href="./main.css">
    {% block head %}
    {% endblock %}
  </head>

  <body>
    <div class="relative min-h-100vh overflow-x-hidden mx-auto max-w-1920" data-hook="overflow" role="presentation">
      <main>
        {% block body %}
        {% endblock %}
      </main>
      <script src="./main.js"></script>
    </div>
  </body>

</html>
